/* stylelint-disable csstree/validator */

h1 {
  width: 76px;
  height: 20px;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

body {
  background-image: url(img/header-shapes\ mobile@2x.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}

@media screen and (min-width: 768px) {

  /* stylelint-disable-next-line block-closing-brace-newline-after */
}
/* stylelint-disable-next-line block-opening-brace-space-before */
.header-items{
  /* stylelint-disable-next-line declaration-colon-space-after */
  position:relative;
}

.header-items img {
  position: absolute;
  top: 14px;
  right: 0;
  height: 14px;
}

h2 {
  width: 327px;
  height: 150px;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.container p {
  width: 327px;
  height: 146px;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  left: 10px;
}

.Logo {
  width: 76px;
  height: 20px;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: fixed;
  top: 14px;
  left: 10px;
}

.Union {
  position: absolute;
  /* stylelint-disable-next-line unit-no-unknown */
  top: 14pxpx;
  right: 10px;
  margin-top: -7px;
}
